body {
	text-align:center;
	font-family:'Open Sans', sans-serif;
}

body p {
	margin:0;
	padding:0;
}

body #examples > div {
	border-top:2px solid #000;
	padding:20px 0px;
}

body #examples > div > p {
	font-size:22px;
	font-weight:700;
}

body #examples > div > h3 {
	font-size:18px;
	font-weight:700;
}